body {
  font-family: sans-serif;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calc {
  background-image: linear-gradient(120deg, #f56456, #f5576c);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 560px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  animation: fadein 0.6s ease-in-out;
}

.calc::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(120deg, #f093fb, #f56456);
  animation: rotate 10s linear infinite;
  z-index: -1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font: 2em Arial,sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

label {
  color: white;
  margin-top: 15px;
  display: block;
  font-size: 24px;
}

.sliders span {
  margin-bottom: 7px;
  color: white;
  display: block;
  font-size: 20px;
}

input[type="range"] {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  z-index: 1;
}

button:hover {
  color: yellow;
  background-color:green;
  transform: scale(1.006);
  box-shadow: 0 0 6px black;
}

.disp {
  margin: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.disp span {
  font-weight: 1000;
}

input[type="range"] {
  appearance: none;
  background-color: #ddd;
  width: 100%;
  height: 8px;
  border: none;
  opacity: 0.9;
  transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 6px;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 30px;
  border-radius: 40%;
  cursor: pointer;
  background-color: #28a745;
}
select {
  background-color: #28a745;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #ddd;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
}
.shake {
	animation: shake 1s ease-in-out;
}
@keyframes shake {
	0%{
		transform: translateY(0);
	}
		25%{
		transform: translateY(-5px);
		}
		50%{
		transform: translateY(5px);
		}
		75%{
		transform: translateY(-5px);
		}
		100%{
		transform: translateY(0);
		}
}
#invalid {
  background-color: #ddd;
  text-align: center;
  border-radius: 20px;
  height: 20px;
  width: 100px;
  padding: 5px;
	color: red;
	visibility: hidden;
	transition: visibility .3s ease;
}